@page
@model Universidad.Pages.empadronados.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empadronado_en</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empadronado_en.FechaIngreso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empadronado_en.FechaIngreso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empadronado_en.FechaGraduacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empadronado_en.FechaGraduacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empadronado_en.CedEstudianteNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empadronado_en.CedEstudianteNavigation.Cedula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empadronado_en.CodCarreraNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empadronado_en.CodCarreraNavigation.Codigo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
