@page
@model ForestWebApp.Pages.Forests.DeleteModel

@{
    ViewData["Title"] = "Eliminar Bosque: " + Model.Forest.Name;
}

<div class="card rounded-card">
    <div class="card-body rounded-card align-items-center text-center">
        <h3 class="card-title">Eliminar Bosque: @Model.Forest.Name</h3>
        <h4 class="text-muted card-subtitle mb-2">¿Está seguro de que quiere eliminar este bosque?</h4>

        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <!-- Details Display -->
                <div>
            
                    <br/>
                    <!-- Country of Origin -->
                    <h4 class="text-center">@Html.DisplayNameFor(model => model.Forest.CountryOfOrigin)</h4>
                    <h5 class="text-center">@Html.DisplayFor(model => model.Forest.CountryOfOrigin)</h5>
                    <br/>

                    <!-- Type of Vegetation -->
                    <h4 class="text-center">@Html.DisplayNameFor(model => model.Forest.TypeOfVegetation)</h4>
                    <h5 class="text-center">@Html.DisplayFor(model => model.Forest.TypeOfVegetation)</h5>
                    <br/>

                    <!-- Area in Km2 -->
                    <h4 class="text-center">@Html.DisplayNameFor(model => model.Forest.AreaKm2)</h4>
                    <h5 class="text-center">@Html.DisplayFor(model => model.Forest.AreaKm2)</h5>
                    <br/>

                    <!-- Old Growth Forest -->
                    <h4 class="text-center">@Html.DisplayNameFor(model => model.Forest.OldGrowthForest)</h4>
                    <h5 class="text-center">@Html.DisplayFor(model => model.Forest.OldGrowthForest)</h5>
                </div>
            </div>
        </div>
        <form method="post">
            <input type="hidden" asp-for="Forest.Id"/>
            <input type="submit" value="Eliminar" class="delete-btn rounded-pill"/>
        </form>
    </div>

</div>

<br/>


<br/>
<div>
    <button id="returnToCatalog" class="main-btn rounded-pill">
        <a class="text-white btn-text-link" asp-page="./Index">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path d="M19 11H7.83l4.88-4.88c.39-.39.39-1.03 0-1.42-.39-.39-1.02-.39-1.41 0l-6.59 6.59c-.39.39-.39 1.02 0 1.41l6.59 6.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L7.83 13H19c.55 0 1-.45 1-1s-.45-1-1-1z"></path>
            </svg> Volver al Catálogo
        </a>
    </button>
</div>